html
   head
      title express test
      link(rel='stylesheet', href='/header.css', type='text/css')
      link(rel='stylesheet', href='/index.css', type='text/css')
      script(src="https://code.jquery.com/jquery-3.2.1.js")
      script(src="/index.js")
   body
      include ./header.pug
      .pan
            each val,index in menu
                  div(id='pr'+index, class='ip_img', onclick="pr_click('"+val[1]+"')", title=val[0])
                        img(src=val[2])
            #footer_image(title='Copy right @ kim.voomin')
                  img(src='/min.png')
      //include ./body.pug
      include ./footer.pug
