html
   head
      title world test
      link(rel='stylesheet', href='/header.css', type='text/css')
      //link(rel='stylesheet', href='/index.css', type='text/css')
      script(src="https://code.jquery.com/jquery-3.2.1.js")
      //script(src="/index.js")
      script(src="/engine.js")
   body
      h1 
        a(href = "/") ooooo5
        p hi, #{user.name}
        p your money : #{user.money}